# ===============================
# Environnements
# ===============================
venv/
.env/

# ===============================
# Data (RAW + PROCESSED)
# ===============================
data/

# ===============================
# Spark outputs
# ===============================
_SUCCESS
*.crc
part-*.csv
part-*.json
part-*.parquet

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Temporary / system files
# ===============================
.~lock.*
.DS_Store
Thumbs.db
